body {
    background-color: white;
    color: #555;
    font-family: arial, sans-serif;
  }

    
 ul {
    list-style: none;
    display: flex;
    flex-direction: row;
  }
  
 li {
    margin: auto 30px auto auto;
  }
  
 a {
    text-decoration: none;
    color: #555;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  
  #nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 0px;
    width: 100%;
    font-size: 13px;
    font-family: arial;
  
  }
  
  #grid-img {
    display: inline-block;
    height: 26px;
    width: 26px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -135px -42px;
    margin-top: 10px;
    margin-right: 0px;
    opacity: .55;
  }
  
  #grid-img:hover{
    opacity: 1;
  }
  
  #profile-img {
    border-radius: 50%;
    height: 32px;
    width: 32px;
  }
  
  #container {
    max-width: 487px;
    width: 100%;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #container img {
    width: 272px;
    margin-bottom: 35px;
  }
  
  #search-text {
    border: 1px solid #D8D8D8;
    border-radius: 20px;
    padding: 5px 15px;
    margin-bottom: 35px;
    height: 35px;
    width: 487px;
    
  }
  
  #search-text:hover {
    border: 1px solid #D8D8D8;
    box-shadow: 0 0 7px #D8D8D8;
    
  }
  
  .search-wrapper {
    position: relative;
  }
  
  #mag-glass {
    position: absolute;
    top: 14px;
    left: 10px;
    opacity: .4;
    max-width: 20px;
  }
  
  #microphone {
    position: absolute;
    top: 10px;
    right: 20px;
    max-width: 15px;
  }
  
  .search-submit {
    background-color: f2f2f2;
    color: #606060;
    padding: 10px;
    margin: auto 5px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
  }
  
  .search-submit:hover {
    background-color: f2f2f2;
    color: black;
    padding: 10px;
    margin: auto 5px;
    box-sizing: border-box;
    border: 1px solid #C8C8C8;
    cursor: pointer;
  }
  
  form {
    text-align: center;
  }
  
  #nav-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f2f2f2;
    font-size: 14px;
    font-family: arial;
    
  }

